@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.clothing-text {
  animation: 1s ease-out 0s 1 slideInLeft;
  /* animation-fill-mode: forwards; */
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.clothing-img {
  animation: 1s ease-out 0s 1 slideInRight;
  animation-fill-mode: forwards;
}
.clothing-slideBottom-img {
  animation: 1s ease-out 0s 1 slideInBottom;
}
.clothing-slideBottomHide-img {
  animation: 4s ease-out 0s 1 slideInBottomHide;
  animation-fill-mode: forwards;
}
.clothing-slideBottomNoHide-img {
  animation: 4s ease-out 0s 1 slideInBottomNoHide;
  animation-fill-mode: forwards;
}
@keyframes slideInBottom {
  0% {
    transform: translateY(100%)
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideInBottomNoHide {
  0% {
    transform: translateY(200%)
  }
  75% {
    transform: translateY(200%)
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideInBottomHide {
  0% {
    transform: translateY(100%)
  }
  25% {
    transform: translateY(0%);
  }
  75% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@media only screen and (max-width: 768px) {
  .cloth-text{
   padding-top: 260px;
   font-size: 64px;
  }
  .tours-head{
    font-size: 35px;
    justify-content: center;
    text-align: center;
  }
  .bak-head{
    font-size: 40px;
    justify-content: center;
    text-align: center;
  }
  .head{
    padding-top: 16px;
    font-size: 45px;
    justify-content: center;
  }
  .tshirt{
    top: 25vh;
    height: 60vh;
    width: 60vh;
  }
  .jeans{
    top: 25vh;
    height: 60vh; 
  }
  .details{
    padding-top: 470px;
    font-size: 20px;
    justify-content: center;
  }
  .pics{
    padding-top: 80px;
    width: 100%;
    padding-left: 20px;
  }
  .tourgif{
    position: absolute;
    /* bottom: 90vh; */
    height: 50vh; 
    width: 50vh;
    /* right: -0vw; */
   }
  .tourdetail{
    padding-top: 450px;
    justify-content: center;
  }
  .bakdetail{
    position: relative;
     padding-top: -220px; 
    text-align: center;
    justify-content: center;
  }
  .cafehead{
    font-size: 45px;
    justify-content: center;
    text-align: center;
  }
  .cafeimg{
    height: 45vh;
    width: 35vh;
  }
  .bakery2{
    position:relative;
     top: 30px; 
   height: 35vh;
   width: 22vh;
  border-radius: 11vh;
   margin-left: 55%;
  }
  .bakery3{
    position: relative;
    top: -75px;
   height: 35vh;
   width: 22vh;
  border-radius: 11vh;
   margin-left: 6%;
  }
  .bakery1{
   position: relative;
    top: -170px;
   height: 35vh;
   width: 22vh;
  border-radius: 11vh;
   margin-left: 55%;
  }
  .bakeryimgs{
    height: 90vh;
  }
}
@media only screen and (min-width: 769px) {
  .cloth-text{
padding-top: 200px;
font-size: 85px;
  }
  .tours-head{
    font-size: 90px;
    z-index: 10;
  }
  .bak-head{
    font-size: 70px;
    z-index: 10;
  }
  .head{
    padding-top: 10px;
    font-size: 50px;
  }
  .tshirt{
    top: 8vh;
    height: 80vh; 
    width: 80vh;
  }
  .jeans{
    top: 14vh;
    height: 70vh; 
  }
  .details{
    padding-top: 30px;
    font-size: 22px;
  }
  .pics{
    padding-top: 310px;
    padding-bottom: 20px;
    width: 70%;
    padding-left: 30px;
  }
 .tourgif{
   /* z-index: 2; */
  position: fixed;
  bottom: -75vh;
  height: 80vh; 
  width: 80vh;
  right: -55vw;
 }
 .gifbg{
   position: fixed;
 }
 .tourdetail{
   padding-top: 10px;
 }
 .bakdetail{
  padding-top: 30px;
}
 .cafehead{
   font-size: 70px;
   padding-left: 40px;
 }
 .cafeimg{
   height: 70vh;
   width: 50vh;
 }
 .bakery2{
   position:relative;
   top: -50px;
  height: 45vh;
  width: 26vh;
  border-radius: 13vh;
  margin-left: 50%;
 }
 .bakery3{
   position: relative;
   top: -230px;
  height: 45vh;
  width: 26vh;
  border-radius: 13vh;
  margin-left: 10%;
 }
 .bakery1{
  position: relative;
   top: -360px;
  height: 45vh;
  width: 26vh;
  border-radius: 13vh;
  margin-left: 50%;
 }
 .bakeryimgs{
   height: 1px;
   /* overflow: visible; */
 }
 .bak-body{
position: relative;
 }
}