@media only screen and (max-width: 768px) {
  #oursocials-parent {
    padding-left: 10%;
    padding-right: 10%;
  }
  .subheading {
    font-size: 14px;
    max-width: 400px;
    text-align: center;
    padding-top: 5px;
  }
  .heading {
    font-size: 25px;
    padding-top: 15px;
  }
  .coming-soon {
    padding-top: 40px;
    margin-left: 50px;
    width: 300px;
  }
  .logoimg{
    height: 30px;
  }
}
@media only screen and (min-width: 769px) {
  #oursocials-parent {
    padding-left: 150px;
    padding-right: 150px;
  }
  #oursocials-card {
    font-size: 40px;
    max-width: 800px;
  }
  .subheading {
    font-size: 20px;
    max-width: 700px;
    text-align: center;
    padding-top: 10px;
  }
  /* input {
        max-width:700px;
    } */
  .heading {
    font-size: 40px;
    padding-top: 30px;
  }
  .coming-soon {
    padding-top: 60px;
    margin-left: 300px;
    width: 800px;
  }

  .upload {
    width: 650px;
  }
  .logoimg{
    height: 40px;
  }

}
.endimg {
  max-width: 1280px;
  max-height: 44px;
  width: 100%;
  object-fit: contain;
}
